.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

/* ul > li {
  list-style-type: none
} */

.form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.movie {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  text-align: center;
}

.movie h3,
.movie p {
  margin: 0;
}

.movie img {
  margin: 1rem 0;
  border-radius: 1rem;
  width: 90%;
  height: auto;
}
